<div {{ attributes.defaults(stimulus_controller("form")) }}>
	{{ form_start(form, {attr: {
		"novalidate": true,
		"data-action": "live#action",
		"data-action-name": "prevent|save"
	}}) }}
	
	<div class="card">
		<div class="card-body">
			<div class="row">
				{{ form_row(form.name, {"attr": {"class": "form-control"}}) }}
				
				{{ form_row(form.choices_1, {"attr": {"class": "form-control"}}) }}
				
				{{ form_row(form.choices_2, {"attr": {"class": "form-control"}}) }}
				
				{{ form_row(form.date, {"attr": {"class": "form-control"}}) }}
			</div>
		</div>
	</div>
	
	<button type="submit" class="btn btn-success w-100">Test</button>
	
	{{ form_widget(form, {"attr": {"class": "d-none"}}) }}
	{{ form_end(form) }}
</div>
